HELP.md
!.mvn/wrapper/maven-wrapper.jar

### Maven/Gradle ###
build/
### target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
application-local.properties
application.properties
/src/main/resources/application.properties
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### /target/

### VS Code ###
.vscode/
